@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: theme(colors.slate.50);
        --foreground: theme(colors.neutral.800);

        --muted: theme(colors.slate.200);
        --muted-foreground: theme(colors.slate.500);
    }
}

.dark {
    --background: theme(colors.slate.900);
    --foreground: theme(colors.neutral.200);

    --muted: theme(colors.slate.200);
    --muted-foreground: theme(colors.slate.400);
}
.midnight {
    --background: theme(colors.neutral.950);
    --foreground: theme(colors.neutral.200);

    --muted: theme(colors.slate.200);
    --muted-foreground: theme(colors.slate.400);
}
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
